@import "../hypr/theme.css";

* {
    min-height: 32px;
    min-width: 32px;
    padding: 0px;

    border: none;
    border-radius: 12px;

    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
}

#waybar {
    background: transparent;
}

tooltip {
    border: 1px solid @border;
    background: @bg;

    font-family: "Noto Sans";
    font-size: 16px;
}

#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-updates {
    padding: 0px 12px;
    border: 1px solid @border;
    color: @fg;
    background: @bg;
    transition: all 0.1s ease-in-out;
}

#network.ethernet {
    padding-left: 0px;
    padding-right: 4px;
}

#custom-power {
    padding-left: 0px;
    padding-right: 4px;

    border: 1px solid @border;

    color: @fg;
    background: @bg;

    transition: all 0.1s ease-in-out;
}

#tray {
    padding: 0px 4px;

    border: 1px solid @border;

    color: @fg;
    background: @bg;
}

#tray menu {
    border: 1px solid @border;

    color: @fg;
    background: @bg;
}

#bluetooth:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#custom-power:hover,
#pulseaudio:hover,
#custom-updates:hover {
    border: 1px solid @border-hover;
}

#workspaces button {
    margin-left: 4px;
    margin-right: 4px;

    border: 1px solid @border;

    box-shadow: none;
    text-shadow: none;

    color: @fg;
    background: @bg;

    transition: all 0.1s ease-in-out;
}

#workspaces button:first-child {
    margin-left: 0px;
}

#workspaces button:last-child {
    margin-right: 0px;
}

#workspaces button:hover {
    border: 1px solid @border-hover;
}

#workspaces button.urgent {
    border: 1px solid @fg;
    animation: blink 1s infinite;
}

#workspaces button.active {
    border: 1px solid @accent;
    background: #0e2650;
}