@define-color main-bg #1e1e1e;
@define-color main-fg #d7d7d7;

@define-color border-main #6a6a6a;

@define-color accent-active #007aff;

@keyframes blink {
    0% {
        border: 2px solid @border-main;
    }
    50% {
        border: 2px solid @main-fg;
    }
    100% {
        border: 2px solid @border-main;
    }
}
