@define-color main-bg #1e1e2e;
@define-color main-fg #f8f8f2;

@define-color border-main #3b4252;

@define-color accent-active #007aff;

@keyframes blink {
    0% {
        border: 2px solid @border-main;
    }
    50% {
        border: 2px solid @main-fg;
    }
    100% {
        border: 2px solid @border-main;
    }
}
