@define-color bg #1e1e2e;
@define-color fg #f8f8f2;

@define-color border #2d3748;
@define-color border-hover #6680a8;

@define-color accent #007aff;

@keyframes blink {
    0% {
        border: 1px solid @border;
    }
    50% {
        border: 1px solid @fg;
    }
    100% {
        border: 1px solid @border;
    }
}
